{% extends 'base.html' %}
{% load static %}

{% block title %}
Mapral - Contact
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block body %}
<div class="row aboutRow">
    <div class="col-lg-4 col-md-4 col-sm-12 pt-4">
        <img src="{% static 'img/pj.png' %}" alt="" class="ownerImg img-fluid mx-3 mt-5">
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12  pt-4 px-3">
        <p class="aboutHead mb-0 mx-3 mt-4">ABOUT THE OWNER</p>
        <p class="ownerName mb-0 mx-3">Mr. PJ Sangode</p>
        <p class="ownerDesc">A master strategic implementer & promoter, last served as ( Admin & IR Manager ) – Fame
            India Ltd. ( Formerly, Shringar Cinemas Ltd.) Mr. P. J. Sangode had a splendid career graph, served at
            various positions . He was known for his technical and administrative skills while serving with Bombay
            Intelligence Security ( I ) Ltd. </p>
        <p class="ownerDesc">At Mapral global workforce LLP the complete administration of the business activities are
            managed under his astute guidance. His experience boosts up technical execution in terms of contract
            staffing, statutory compliance and selections and procurement of technical staff. well versed with
            government liosoning with various government department. </p>
        <p class="ownerDesc">Not only he has just provided consultancy to various companies but also has provided jobs
            to many potential unemployed people, which not only benefits the recruiter with manpower but also provides a
            future opportunity and income source for an unemployed</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 pt-3 px-5">
        <p class="histHead mb-0 ">KNOW OUR PAST 12 YEARS!</p>
        <h2 class="histHeadText ">History of Mapral</h2>
        <br>
        <p class="histText">
            Mapral Managerial & Allied Services (MMAS) has been incorporated on 09th March 2010 to
            provide integrated HR & Outsourcing Solutions to various business segments at Pan India level.
            MMAS is fast spreading its operations into various verticals of business segments and mainly
            concentrating its activities into IT & Non-IT sectors.
        </p>
        <p class="histText">
            MMAS’s main objective was to provide complete management consultant most comprehensive services related to acquiring right talent pool, outsourcing of HR activities providing temp staffing solution, Personnel Management, contract staffing, statutory compliance, etc. MMAS believes in helping businesses by letting them focus on their core activities.
        </p>

        <p class="histText">
            We introduce ourselves as a professionally managed Human Resource firm, rendering service for your entire payroll, statutory compliance, contract employees, recruitment and other HR needs.
        </p>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 d-flex justify-content-center  pt-3">
        <img src="{% static 'img/oldnew.png' %}" alt="" class="historyImg ">
    </div>

    <div class="col-12 px-5">
        <p class="histText">
        We endeavour to reduce your workload, and be an integral part of your organization, so that you may have motivated people who will concentrate on your core activity and increase the business and profitability. Our expertise emphasizes on reducing the burden of your HR /Personnel Management/ accounts personnel in the area of pay roll system, statutory compliance, liaising, contract employees, HR policy, Govt. Exemption/Manpower recruitment, etc.Over the period of time , Mapral has spread up its branches in various regions like Mumbai , vasai , Nagpur and kolapur
        </p>
    </div>
</div>

<div class="row pt-5">
    <div class="col-lg-8 col-md-8 col-sm-12 px-5">
        <p class="histHead mb-0 ">SEE WHERE WE’VE COME! </p>
        <h2 class="histHeadText ">Mapral’s Progress</h2>

        <p class="histText">
            Now Mapral Global workforce Has expanded its services at the Global level with the services of labor laws and Facility management in the sector of industrial, commercial, And residential level, where Services area is infrastructure and engineering companies Hospitals, banking & finance, IT industry, Manufacturing Industry, retail & Out sale Construction site.
        </p>

        <p class="histText">
            We work closely with each of our clients to understand their requirements both in the short and long term Mapral Global workforce has already expanded its business in Maharashtra & Gujarat Region, Where Currently Our 1500 Employees are working at various sectors on our payroll and 200 clients are connected with us for their monthly statutory compliances
      
        </p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center pt-4">
        <img src="{% static 'img/mapralProgress.png' %}" alt="" class="historyImg">
    </div>
</div>

<div class="row pt-5">
    <div class="col-12 px-5">
        <p class="histHead mb-0 ">SOME RENOUNDED COMPANIES! </p>
        <h2 class="histHeadText ">Mapral’s Clientss</h2>

        <p class="histText">
            The company Mapral has had clients from various sectors of the industry. Here’s a list <br> shown below, that sorts Mapral’s clients with the sectors that they belong to -
        </p>
    </div>

    <div class="col-12 companies px-5">
        <p class="histText py-4">
            HOSPITALS -
        </p>

        <div class="companyNameWrapper d-flex mb-2">
            <div class="imgBack mx-2">
                <img src="{% static 'img/Surya Hospitals 1.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/apex hospital.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/lilavati hospital.png' %}" alt="" class="companyImg">
            </div>

        </div>
    </div>

    <div class="col-12 companies px-5">
        <p class="histText py-4">
            HOSPITALS -
        </p>

        <div class="companyNameWrapper d-flex mb-2">
            <div class="imgBack mx-2">
                <img src="{% static 'img/Surya Hospitals 1.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/apex hospital.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/lilavati hospital.png' %}" alt="" class="companyImg">
            </div>

        </div>
    </div>

    <div class="col-12 companies px-5">
        <p class="histText py-4">
            HOSPITALS -
        </p>

        <div class="companyNameWrapper d-flex mb-2">
            <div class="imgBack mx-2">
                <img src="{% static 'img/Surya Hospitals 1.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/apex hospital.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/lilavati hospital.png' %}" alt="" class="companyImg">
            </div>

        </div>
    </div>

    <div class="col-12 companies px-5">
        <p class="histText py-4">
            HOSPITALS -
        </p>

        <div class="companyNameWrapper d-flex mb-2">
            <div class="imgBack mx-2">
                <img src="{% static 'img/Surya Hospitals 1.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/apex hospital.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/lilavati hospital.png' %}" alt="" class="companyImg">
            </div>

        </div>
    </div>

    <div class="col-12 companies px-5">
        <p class="histText py-4">
            HOSPITALS -
        </p>

        <div class="companyNameWrapper d-flex mb-2">
            <div class="imgBack mx-2">
                <img src="{% static 'img/Surya Hospitals 1.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/apex hospital.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/lilavati hospital.png' %}" alt="" class="companyImg">
            </div>

        </div>
    </div>

    <div class="col-12 companies px-5">
        <p class="histText py-4">
            HOSPITALS -
        </p>

        <div class="companyNameWrapper d-flex mb-2">
            <div class="imgBack mx-2">
                <img src="{% static 'img/Surya Hospitals 1.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/apex hospital.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/lilavati hospital.png' %}" alt="" class="companyImg">
            </div>

        </div>
    </div>

    <div class="col-12 companies px-5">
        <p class="histText py-4">
            HOSPITALS -
        </p>

        <div class="companyNameWrapper d-flex mb-2">
            <div class="imgBack mx-2">
                <img src="{% static 'img/Surya Hospitals 1.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/apex hospital.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/lilavati hospital.png' %}" alt="" class="companyImg">
            </div>

        </div>
    </div>

    <div class="col-12 companies px-5">
        <p class="histText py-4">
            HOSPITALS -
        </p>

        <div class="companyNameWrapper d-flex mb-2">
            <div class="imgBack mx-2">
                <img src="{% static 'img/Surya Hospitals 1.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/apex hospital.png' %}" alt="" class="companyImg">
            </div>
            <div class="imgBack mx-2">
                <img src="{% static 'img/lilavati hospital.png' %}" alt="" class="companyImg">
            </div>

        </div>
    </div>  
</div>

<div class="row pt-5">
    <div class="col-lg-8 col-md-8 col-sm-12 px-5">
        <p class="histHead mb-0 ">KNOW US BETTER!</p>
        <h2 class="histHeadText ">Mapral’s Vision</h2>

        <p class="histText">
            We introduce ourselves as a professionally managed Human Resource firm, rendering service for your entire payroll, statutory compliance, contract employees, recruitment, and other HR needs.
        </p>

        <p class="histText">
            We endeavour to reduce your workload, and be an integral part of your organization, so that you may have motivated people who will concentrate on your core activity and increase the business and profitability.
        </p>

        <p class="histText">
            Our expertise emphasizes reducing the burden of your HR /Personnel Management/ accounts personnel in the area of payroll system, statutory compliance, liaisoning, contract employees, HR policy, Govt. Exemption/Manpower recruitment, etc.     
        </p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center pt-4">
        <img src="{% static 'img/vision.png' %}" alt="" class="historyImg img-fluid">
    </div>
</div>
{% endblock body %}