{% extends 'base.html' %}
{% load static %}

{% block title %}
Mapral - Signup
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock css %}


{% block body %}

<div class="row mainRow1">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{ message }}    
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="col-12">
        <h2 class="loginHead mx-5 mt-5">Sign Up</h2>
        <p class="loginText mx-5">Discover a better way of working, together with Mapral.</p>
        <br>
        <h3 class="formHead mx-5 mb-4">Select your Role</h3>
        <form action="" method="POST" class="loginForm d-flex mx-5">
            {% csrf_token %}
            <div class="form1 ">
                <div class="form-check">
                    <input class="form-check-input" name="role" id="rad2" value="recruitor" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Recruitor
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="role" value="employee" id="rad1" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Employee
                    </label>
                </div>

                <div id="nextForm">

 

                


            </div>

                <button type="submit" class="loginBtn p-2 px-3 mt-3">Continue</button>

            </div>

        </form>
    </div>
</div>

<script>

    // deselect all radio buttons when page is loaded
    $(document).ready(function () {
        $('input[type=radio]').prop('checked', false);
    });
    // if employer is selected, show employer form else recruitor form in javascript
    var rad1 = document.getElementById('rad1');
    var rad2 = document.getElementById('rad2');
    var employee = `
    <div class="row" id="employee">
        <div class="col-6 px-2">
            <input type="" name="fname" class="InputForm p-2 mt-2" placeholder="First Name">
        </div>
        <div class="col-6">
            <input type="" name="lname" class="InputForm p-2  mt-2" placeholder="Last Name">
        </div>
        
        <div class="col-6 px-2">
            <input type="" name="email" class="InputForm p-2 mt-2" placeholder="Email id">
        </div>
        <div class="col-6">
            <input type="" name="phone" class="InputForm p-2  mt-2" placeholder="Phone Number">
        </div>

        <div class="col-6 px-2 mt-2">
            <select name="gender" class="InputForm p-2" id="">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="col-6 px-2 mt-2">
            <select name="qualification" class="InputForm p-2" id="">
                <option value="male">Qualification</option>
                <option value="female">10th</option>
                <option value="other">12th</option>
                <option value="other">Engineering</option>
                <option value="other">MBA</option>
                <option value="other">ITI</option>
                <option value="other">Graduation</option>
            </select>
        </div>

        <div class="col-6 px-2">
            <input type="" name="pass" class="InputForm p-2 mt-2" placeholder="Password">
        </div>
        <div class="col-6">
            <input type="" name="pass1" class="InputForm p-2  mt-2" placeholder="Confirm Password">
        </div>

    </div>
    
    `

    var recruitor = `
    <div class="row" id="recruitor">
        <div class="col-6 px-2">
            <input type="" name="fname" class="InputForm p-2 mt-2" placeholder="First Name">
        </div>
        <div class="col-6">
            <input type="" name="lname" class="InputForm p-2  mt-2" placeholder="Last Name">
        </div>
        
        <div class="col-6 px-2">
            <input type="" name="email" class="InputForm p-2 mt-2" placeholder="Email id">
        </div>
        <div class="col-6">
            <input type="" name="phone" class="InputForm p-2  mt-2" placeholder="Phone number">
        </div>

        <div class="col-6 px-2">
            <input type="" name="pass" class="InputForm p-2 mt-2" placeholder="Password">
        </div>
        <div class="col-6">
            <input type="" name="pass1" class="InputForm p-2  mt-2" placeholder="Confirm Password">
        </div>

        <div class="col-12 px-2">
            <input type="" name="companyName" class="InputForm p-2  mt-2" placeholder="Company Name">
        </div>

        <div class="col-12 px-2 mt-2">
            <textarea name="companyAbout"  maxlength="320" id="" class="InputForm" placeholder="About Company.. " cols="30" rows="10"></textarea>
        </div>

    </div>
    `

    var nextForm = document.getElementById('nextForm');
    rad1.addEventListener('click', function(){
        // add form for employee to nextForm
        nextForm.innerHTML = employee;
    });
    rad2.addEventListener('click', function(){
        // add form for recruitor to nextForm
        nextForm.innerHTML = recruitor;
    });


</script>

{% endblock body %}